In [ ]:
#dictionary is a data structure that stores data as key-value pair
#keys are unique and immutable

#from python 3.7, dictionaries became ordered

In [1]:
d = {}
type(d)

dict

In [4]:
dict1 = {"name":"bruce","email":"wayne@enterprises.ac.in", "contact":1243931}
dict1

{'name': 'bruce', 'email': 'wayne@enterprises.ac.in', 'contact': 1243931}

In [5]:
type(dict1)

dict

In [6]:
dict1['name']

'bruce'

In [7]:
dict1['email']

'wayne@enterprises.ac.in'

In [9]:
dict1['name'] = 'thomas'

In [10]:
dict1

{'name': 'thomas', 'email': 'wayne@enterprises.ac.in', 'contact': 1243931}

In [13]:
d['thomas'] #accesing only keys is possible

KeyError: 'thomas'

In [14]:
#rules of defining keys
d = {1:"abc"} #integer as key

In [15]:
d

{1: 'abc'}

In [ ]:
d = {1.2:"abc"} #float as key

In [18]:
d

{1.2: 'abc'}

In [19]:
d = {True:"truth is one"} #boolean as key

In [20]:
d

{True: 'truth is one'}

In [22]:
d = {#:"231"}

_IncompleteInputError: incomplete input (3914194072.py, line 1)

In [23]:
d = {@:"123"}

SyntaxError: invalid syntax (2047665028.py, line 1)

In [24]:
d = {[1,2,3]:"dirs"}

TypeError: unhashable type: 'list'

In [25]:
d = {(1,2,3):"private number"}

In [26]:
d

{(1, 2, 3): 'private number'}

In [27]:
d = {{1,2,3}:"set as key is not possible"}

TypeError: unhashable type: 'set'

In [28]:
d = {{key:"123"}:"dict as a key is not possible"}

NameError: name 'key' is not defined

In [29]:
#only string and numbers can be used as a key for dictionaries

In [30]:
dict1 = {"name":"bruce","email":"wayne@enterprises.ac.in", "contact":1243931, "name":"thomas"}

In [32]:
dict1

{'name': 'thomas', 'email': 'wayne@enterprises.ac.in', 'contact': 1243931}

In [33]:
#always the last key value will be used

In [36]:
dict1["name"] = "alfred"

In [37]:
dict1

{'name': 'alfred', 'email': 'wayne@enterprises.ac.in', 'contact': 1243931}

In [38]:
dict1 = {"name":["bruce",'thomas','martha'],"email":"wayne@enterprises.ac.in", "contact":(1243931,478238,9182128)}

In [39]:
dict1

{'name': ['bruce', 'thomas', 'martha'],
 'email': 'wayne@enterprises.ac.in',
 'contact': (1243931, 478238, 9182128)}

In [44]:
dict1['name']

['bruce', 'thomas', 'martha']

In [45]:
dict1['name'][1]

'thomas'

In [46]:
dict1["address"] = "wayne tower"

In [47]:
dict1

{'name': ['bruce', 'thomas', 'martha'],
 'email': 'wayne@enterprises.ac.in',
 'contact': (1243931, 478238, 9182128),
 'address': 'wayne tower'}

In [48]:
del dict1["address"]

In [49]:
dict1

{'name': ['bruce', 'thomas', 'martha'],
 'email': 'wayne@enterprises.ac.in',
 'contact': (1243931, 478238, 9182128)}

In [50]:
del dict1

In [51]:
dict1

NameError: name 'dict1' is not defined

In [52]:
dict1 = {"name":["bruce",'thomas','martha'],"email":"wayne@enterprises.ac.in", "contact":(1243931,478238,9182128)}

In [54]:
dict1

{'name': ['bruce', 'thomas', 'martha'],
 'email': 'wayne@enterprises.ac.in',
 'contact': (1243931, 478238, 9182128)}

In [56]:
d.clear() #empty dict

In [57]:
len(dict1)

3

In [58]:
dict1.keys()

dict_keys(['name', 'email', 'contact'])

In [59]:
dict1.values()

dict_values([['bruce', 'thomas', 'martha'], 'wayne@enterprises.ac.in', (1243931, 478238, 9182128)])

In [61]:
dict2 = dict1.copy()

In [62]:
dict2

{'name': ['bruce', 'thomas', 'martha'],
 'email': 'wayne@enterprises.ac.in',
 'contact': (1243931, 478238, 9182128)}

In [63]:
dict2.pop('contact')

(1243931, 478238, 9182128)

In [64]:
dict2

{'name': ['bruce', 'thomas', 'martha'], 'email': 'wayne@enterprises.ac.in'}

In [65]:
dict_1 = {"course":"kungfu"}
dict_1

{'course': 'kungfu'}

In [66]:
dict1.update(dict_1)

In [67]:
dict1

{'name': ['bruce', 'thomas', 'martha'],
 'email': 'wayne@enterprises.ac.in',
 'contact': (1243931, 478238, 9182128),
 'course': 'kungfu'}

In [68]:
dict1['name']

['bruce', 'thomas', 'martha']

In [69]:
dict1.get('name')

['bruce', 'thomas', 'martha']

In [71]:
dict1

{'name': ['bruce', 'thomas', 'martha'],
 'email': 'wayne@enterprises.ac.in',
 'contact': (1243931, 478238, 9182128),
 'course': 'kungfu'}

In [72]:
#from keys
dict1.fromkeys((1,2,3),('a','b','c'))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [73]:
dict1

{'name': ['bruce', 'thomas', 'martha'],
 'email': 'wayne@enterprises.ac.in',
 'contact': (1243931, 478238, 9182128),
 'course': 'kungfu'}

In [74]:
#zip function
students = ['arun','ajay','bijay']
marks = [80,98,28]

for i in zip(students, marks):
    print(i)

('arun', 80)
('ajay', 98)
('bijay', 28)

In [80]:
#store the above infor in key value pair >> dict
students = ['arun','ajay','bijay']
marks = [80,98,28]
students_marks = {}
for student, mark in zip(students, marks):
    students_marks[student] = mark

In [81]:
students_marks

{'arun': 80, 'ajay': 98, 'bijay': 28}

In [83]:
#dictionary comprehension
students = ['arun','ajay','bijay']
marks = [80,98,28]
{student:marks for student, marks in zip(students, marks)}

{'arun': 80, 'ajay': 98, 'bijay': 28}

In [84]:
#use case for dictionary comprehension
userid = [1,2,3]
username = ['a21','a22','a23']

In [85]:
userid

[1, 2, 3]

In [86]:
username

['a21', 'a22', 'a23']

In [88]:
{uid:uname for uid, uname in zip(userid, username)}

{1: 'a21', 2: 'a22', 3: 'a23'}

In [92]:
#USE CASE FOR DICTIONARY

In [93]:
employee_records = {
    'E001': {'name':'John Doe','department':'Engineering','salary':75000},
    'E002': {'name':'Jane Smith','department':'Marketing','salary':65000},
    'E003': {'name':'David Lee','department':'Finance','salary':80000},
}

In [94]:
employee_records

{'E001': {'name': 'John Doe', 'department': 'Engineering', 'salary': 75000},
 'E002': {'name': 'Jane Smith', 'department': 'Marketing', 'salary': 65000},
 'E003': {'name': 'David Lee', 'department': 'Finance', 'salary': 80000}}

In [95]:
type(employee_records)

dict

In [96]:
employee_records.get('E001')

{'name': 'John Doe', 'department': 'Engineering', 'salary': 75000}

In [97]:
employee_records['E001']

{'name': 'John Doe', 'department': 'Engineering', 'salary': 75000}

In [98]:
employee_records.keys()

dict_keys(['E001', 'E002', 'E003'])

In [99]:
employee_records.values()

dict_values([{'name': 'John Doe', 'department': 'Engineering', 'salary': 75000}, {'name': 'Jane Smith', 'department': 'Marketing', 'salary': 65000}, {'name': 'David Lee', 'department': 'Finance', 'salary': 80000}])

In [100]:
employee_records.items()

dict_items([('E001', {'name': 'John Doe', 'department': 'Engineering', 'salary': 75000}), ('E002', {'name': 'Jane Smith', 'department': 'Marketing', 'salary': 65000}), ('E003', {'name': 'David Lee', 'department': 'Finance', 'salary': 80000})])

In [101]:
for key,value in employee_records.items(): #iterate both key and value
    print(key,value)

E001 {'name': 'John Doe', 'department': 'Engineering', 'salary': 75000}
E002 {'name': 'Jane Smith', 'department': 'Marketing', 'salary': 65000}
E003 {'name': 'David Lee', 'department': 'Finance', 'salary': 80000}

In [102]:
#iterate over only keys
for key in employee_records.keys():
    print(key)

E001
E002
E003

In [105]:
#iterate over only values
for value in employee_records.values():
    print(value)

{'name': 'John Doe', 'department': 'Engineering', 'salary': 75000}
{'name': 'Jane Smith', 'department': 'Marketing', 'salary': 65000}
{'name': 'David Lee', 'department': 'Finance', 'salary': 80000}