In [1]:
#functions >> print, len, type >> inbuilt python functions

In [3]:
import math as m #math(library) is a collection of functions
m.ceil(4.3)

5

In [4]:
m.floor(2.9)

2

In [6]:
#user-defined functions
#syntax of a user-defined function
#def func():
    #body of function

#function is a block of code which performs some specific task/computation
#why functions? >>functions are re-usable. Define once. Use multiple times.
#saves time, make code, clean,neat and organised

In [7]:
print("welcome to the housewarming function, darshan")
print("welcome to the housewarming function, arun")
print("welcome to the housewarming function, aswin")

welcome to the housewarming function, darshan
welcome to the housewarming function, arun
welcome to the housewarming function, aswin

In [25]:
def greetings(name): #passing a variable inside a function >> name is positional argument
    print("Welcome to the houswarming function,", name,":)")

In [26]:
greetings("darshan")

Welcome to the houswarming function, darshan :)

In [27]:
greetings("rakesh")

Welcome to the houswarming function, rakesh :)

In [28]:
greetings("aswin")

Welcome to the houswarming function, aswin :)

In [29]:
greetings()

TypeError: greetings() missing 1 required positional argument: 'name'

In [32]:
def func(): 
    print("functions and functions are confusing, huh :o")
func()

functions and functions are confusing, huh :o

In [33]:
func() + "lol"

functions and functions are confusing, huh :o

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [37]:
print(type(func()))

functions and functions are confusing, huh :o
<class 'NoneType'>

In [40]:
def func(): #return >> determining the output datatype of a function
    return "functions and function are confusing, huh :o ;) :) "
func() + 'lol'

'functions and function are confusing, huh :o ;) :) lol'

In [41]:
print(type(func()))

<class 'str'>

In [42]:
def func():
    return "this is my first function", 1, 4.3, True, 3+3j

In [43]:
func()

('this is my first function', 1, 4.3, True, (3+3j))

In [44]:
a = func()
type(a)

tuple

In [45]:
a,b,c,d,e = func()

In [46]:
a

'this is my first function'

In [47]:
b

1

In [48]:
c

4.3

In [49]:
d

True

In [50]:
e

(3+3j)

In [51]:
a = func()
a

('this is my first function', 1, 4.3, True, (3+3j))

In [52]:
a[0]

'this is my first function'

In [53]:
a[-1]

(3+3j)

In [54]:
def func():
    calc = 2+3+8*2
    return calc

In [55]:
func()

21

In [56]:
type(func())

int

In [59]:
def square_no(a):#a is called argument
    return a*a

In [60]:
square_no(2)

4

In [61]:
square_no(283)

80089

In [62]:
def sum(a,b):
    return a+b

In [63]:
sum(3,9)

12

In [65]:
sum(2838,28381)

31219

In [67]:
sum("Hello"," There")

'Hello There'

In [68]:
sum([1,2,3,4],[5,6,7,7])

[1, 2, 3, 4, 5, 6, 7, 7]

In [70]:
sum("There"," Hello")
#the order in which we give the values, will be taken as defined in the function
#this is why it is called positional arguments

'There Hello'

In [71]:
sum(b="tech",a="logi")

'logitech'

In [72]:
def sum1(a,b,c):
    return a+b+c

In [74]:
sum1(3,4,2)

9

In [75]:
#default argument
#to avoid the error
#TypeError: greetings() missing 1 required positional argument
def sum1(b,c,a=0):
    return a+b+c

In [76]:
sum1(3,4)

7

In [78]:
#the default argument must be in the last
def sum1(a=0,b,c):
    return a+b+c

SyntaxError: parameter without a default follows parameter with a default (1951335167.py, line 2)

In [79]:
def sum1(a=8,b=3,c=6):
    return a+b+c

In [81]:
sum1()

17

In [84]:
def add_two_numbers():
    a = int(input("Enter the first number : "))
    b = int(input("Enter the second number : "))
    return a+b

In [85]:
add_two_numbers()

78484

In [87]:
#write a function that takes list as input and return only the  numeric values in the list

In [90]:
def only_numeric(a):
    n = []
    for i in a:
        if type(i) == int or type(i) == float:
            n.append(i)
    return n

In [91]:
only_numeric([1,True,4+2j,"string",43.21])

[1, 43.21]

In [95]:
def only_numeric(a):
    n = []
    for i in a:
        if type(i) == int or type(i) == float:
            n.append(i)
        if type(i) == list:
            for j in i:
                if type(j) == int or type(j) == float:
                    n.append(j)
    return n

In [96]:
only_numeric([1,True,4+2j,"string",43.21,[1,2,3,"got you!"]])

[1, 43.21, 1, 2, 3]

In [97]:
def sum(a,b):
    return a+b

In [98]:
sum(2,3,4)

TypeError: sum() takes 2 positional arguments but 3 were given

In [99]:
#variable length argument >> when you don't know the no. of args
def sum1(*args):
    return args

In [100]:
sum1(1,2)

(1, 2)

In [101]:
sum1(4,2,4,92,21)

(4, 2, 4, 92, 21)

In [104]:
#A function which can take any no. of values and return the sum

def sum1(*args):
    sum = 0
    for i in args:
        sum += i
    return sum

In [105]:
sum1(2,3,4,923,1242,123)

2297

In [106]:
#variable argument with default argument
def test(*args, a):
    return args,a

In [107]:
test(1,2,3,4,5,a="ram")

((1, 2, 3, 4, 5), 'ram')

In [108]:
test(1,2,3,4,5)

TypeError: test() missing 1 required keyword-only argument: 'a'

In [109]:
#write a function that can take any no. of values and returns the list

In [110]:
def return_list(*args):
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [111]:
return_list(1,2,3,4,[38282,2101,49823],True,False)

[[38282, 2101, 49823]]

In [115]:
#variable length argument and keyword argument together

def test1(*args, **args1):
    return args,args1

# here, the name "args" and "args1" can be anything we want

In [116]:
test1(1,2,3,4,a=929,b=828)

((1, 2, 3, 4), {'a': 929, 'b': 828})

In [117]:
test1()

((), {})

In [118]:
#python namespace

def greet():
    message = "hello, welcome!" #message variable is a local variable to greet() function
    print(message)

In [119]:
greet()

hello, welcome!

In [120]:
print(message)

NameError: name 'message' is not defined

In [123]:
subpart = "to the submarine ride" 
#global variable >> even though it's defined outside the function, it can be accessed inside the function as well
def greet():
    message = "hello, welcome" + subpart
    print(message)

In [124]:
greet()

hello, welcometo the submarine ride

In [4]:
#function inside function
def marks_in_subject(**kwargs):
    def total_marks(marks_list):
        return sum(marks_list)
    marks_list = []
    for sub, marks in kwargs.items():
        marks_list.append(marks)

    return total_marks(marks_list)

In [5]:
marks_in_subject(a=90,b=39)

129

In [9]:
#calling function from outside
def total_marks(marks_list):
    return sum(marks_list)
    
def marks_in_subject(**kwargs):
    marks_list = []
    for sub, marks in kwargs.items():
        marks_list.append(marks)

    return total_marks(marks_list)

In [10]:
marks_in_subject(a=90,b=39,c=92)

221

In [16]:
#docstring explanation of code
def find_power(num, power):
    '''
    This function returns the power of no.
    Args:
        num(int): provide any integer as input
        power(int): provide power as integer
    Returns:
        interger: power of no
    '''
    return num**power

In [17]:
find_power(3,29)

68630377364883

In [18]:
help(find_power)

Help on function find_power in module __main__:

find_power(num, power)
    This function returns the power of no.
    Args:
        num(int): provide any integer as input
        power(int): provide power as integer
    Returns:
        interger: power of no