In [1]:
#lambda function >> anonymous function
#                >> shorthand function
#syntax
# lambda arguments : expression

In [4]:
import math as m
def ceiling(n):
    return m.ceil(n)

In [5]:
ceiling(4.2)

5

In [6]:
ceiling_lambda = lambda x: m.ceil(x)

In [8]:
ceiling_lambda(6.1)

7

In [9]:
add = lambda a,b: a+b
add(3,4)

7

In [10]:
is_even = lambda x: x%2==0
is_even(3)

False

In [11]:
x = ["ML", "AI", "LLM", "XR"]
x

['ML', 'AI', 'LLM', 'XR']

In [12]:
sorted(x) #by default, sorting based on alphabetical order

['AI', 'LLM', 'ML', 'XR']

In [15]:
# sort the list based on length of element of list
length = lambda lis: len(lis)
length([1,2,3,5,3,2,4,])

7

In [16]:
sorted(x, key = lambda str:len(str))

['ML', 'AI', 'XR', 'LLM']

In [17]:
#fibonacci series using lambda function
fib = lambda n: n if n<=1 else fib(n-1) + fib(n-2)
[fib(i) for i in range(10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [18]:
#factorial
def fact_num(n):
    if n == 0:
        return 1
    else:
        return n*fact_num(n-1)

In [20]:
fact_num(10)

3628800

In [21]:
#lambda function for factorial
fact_num = lambda n :1 if n==0 else n*fact_num(n-1)
fact_num(10)

3628800

In [23]:
#########################################################################################################

In [24]:
#map >> executes a specified function for each of item of an iterable
#syntax >> map(func, #iterables)
#mapping the function to each of the elements of the iterable

In [26]:
l = [1,2,3,4,5]
def square(l):
    sq = []
    for i in l:
        sq.append(i**2)
    return sq

In [27]:
square(l)

[1, 4, 9, 16, 25]

In [35]:
def sq(x):
    return x**2

In [36]:
l

[1, 2, 3, 4, 5]

In [37]:
#map(func, iterable)
list(map(sq, l))

[1, 4, 9, 16, 25]

In [38]:
def add(x):
    return x+10

list(map(add, l))

[11, 12, 13, 14, 15]

In [39]:
#using lambda with map
list(map(lambda x:x**2,l))

[1, 4, 9, 16, 25]

In [42]:
l = ["1","2","3","4"]
list(map(lambda x: int(x),l))

[1, 2, 3, 4]

In [44]:
l1 = [100,200,300,400]
l2 = [1,2,3,4]
list(map(lambda x,y : x+y, l1, l2))

[101, 202, 303, 404]

In [64]:
str = "ajith kumar"
list(map(lambda x:x.upper(),str))

['A', 'J', 'I', 'T', 'H', ' ', 'K', 'U', 'M', 'A', 'R']

In [3]:
words = ["python", "ajay"]
list(map(str.capitalize, words))

['Python', 'Ajay']

In [4]:
grades = ["A", "B", "C", "D"]
list(map(lambda grade: 4 if grade == "A" else (3 if grade == "B" else 2), grades))

[4, 3, 2, 2]

In [7]:
#reduce >> folding/reduction
#syntax >> #reduce(func, iterable)
#reduce will always take two arguments
from functools import reduce

In [8]:
l = [2,1,3,4,5,6,7,8]
reduce(lambda x,y:x+y,l)

36

In [11]:
#reduce only takes two arguments
l = [2,1,3,4,5,6,7,8]
reduce(lambda x,y,z:x+y+z,l)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [12]:
l = [2,1,3,4,5,6,7,8]
reduce(lambda x,y:x*y,l)

40320

In [13]:
words = ["Data", "Science", "Course"]
reduce(lambda x,y:x+" "+y, words)

'Data Science Course'

In [15]:
# the highest values at each stage when x and y are compared
numbers = [53,83,10392,429247,372724859]
reduce(lambda x, y : x if x > y else y, numbers)

372724859

In [22]:
l = [1,2,3,4,5,6]
def factorial(n):
    return reduce(lambda x,y: x*y, range(1, n+1))

In [23]:
factorial(5)

120

In [25]:
######################################################################################################

In [26]:
#filter function >> it is used to filter elements from an iterable based on some conditoin
#syntax >> filter(function, iterable)

In [27]:
l

[1, 2, 3, 4, 5, 6]

In [28]:
list(filter(lambda x:x%2==0,l))

[2, 4, 6]

In [29]:
list(filter(lambda x:x%2!=0,l))

[1, 3, 5]

In [33]:
l1 = [2,-1,3,-4,5,-6,7,8]

In [34]:
list(filter(lambda x:x<0,l1))

[-1, -4, -6]

In [35]:
list(filter(lambda x:x>0,l1))

[2, 3, 5, 7, 8]

In [36]:
s = ["Ajay", "pwskills", "data science"]
list(filter(lambda x:len(x) > 4, s))

['pwskills', 'data science']

In [37]:
def check_even(num):
    if num%2==0:
        return True
    return False

In [39]:
num_list = [1,2,3,4,5,6,7,8,9,10]
list(filter(check_even, num_list))

[2, 4, 6, 8, 10]