In [2]:
#string is a sequence of character>represent and manipulate textual data
#characters are represented using numerical values>>each character is assigned a unique value
#ASCII (7 BITS) AND UNICODE (16 BITS)
#ASCII >> 2 power 7 >> 128 characters has been encoded
#UTF-8, UTF 16 >> POPULAR ENCODING SCHEMES
#UTF(Unicode Transformation Format)

In [4]:
#ASCII REPRESENTATION
char = "A"
ord(char) #ord >> ordinal, means what is numerical order of character

65

In [5]:
chr(65)

'A'

In [6]:
ord("a")

97

In [7]:
chr(97)

'a'

In [8]:
#UNICODE REPRESENTATION

In [9]:
'\u03A9'

'Î©'

In [10]:
#string
string1 = 'pwskills'
string1

'pwskills'

In [11]:
type(string1)

str

In [12]:
status = "I'm a student"

In [13]:
status

"I'm a student"

In [14]:
status2 = """I"m a business man"""

In [15]:
status2

'I"m a business man'

In [16]:
"""I'm a student
I am intersted in DS
I like bikes"""

"I'm a student\nI am intersted in DS\nI like bikes"

In [17]:
#concatenation of string

In [19]:
"hello" + " world"

'hello world'

In [21]:
string1 = "hello"
string2 = "world!"
string1 + ", " + string2

'hello, world!'

In [22]:
#extract/slicing of string

In [24]:
a = 'ajay'
a[0]

'a'

In [25]:
string3 = "i am a good man"
string3[0:4] #4 is exclusive, only from 0 to 3

'i am'

In [26]:
string3[4:12]

' a good '

In [27]:
string3[0:]

'i am a good man'

In [28]:
string3[0::2] #stepping in string

'ia  odmn'

In [29]:
string3[-2]

'a'

In [30]:
#except the last three character
string3[:-3]

'i am a good '

In [32]:
#only want the last three characters
string3[-3:]

'man'

In [33]:
string3[::-1] #reverse printing

'nam doog a ma i'

In [34]:
s = "pwskills"
s[0] = a

TypeError: 'str' object does not support item assignment

In [35]:
#no of characters in a string
len(s)

8

In [36]:
#modification of string
s = "I am a student"
s.replace("student", "teacher")

'I am a teacher'

In [37]:
text = "BRB, TTYL, LOL"
text.replace("BRB", "Be Right Back").replace("LOL", "Laugh Out Loud")

'Be Right Back, TTYL, Laugh Out Loud'

In [38]:
text = "HELLO"
text.lower()

'hello'

In [39]:
text.upper()

'HELLO'

In [40]:
text.capitalize()

'Hello'

In [41]:
text = "I am a Student"
text.swapcase()

'i AM A sTUDENT'

In [42]:
text.title()

'I Am A Student'

In [43]:
#string searching
sentence = "I am a student at pwskills"
"mat" in sentence

False

In [45]:
search_word = "student"
if search_word in sentence:
    print("The search word is present")
else:
    print("Not present")

The search word is present

In [47]:
email = "darshan@hotmail.com"
if "@" in email:
    print("valid email")
else:
    print("invalid email")

valid email

In [48]:
document = "some_file.pdf"
if ".pdf" in document:
    print("It's a .pdf file")

It's a .pdf file

In [50]:
#string comparison
str1 = "hello"
str2 = "hEllo"
str1 == str2

False

In [51]:
str1 = "hello"
str2 = "hEllo"
str1.lower() == str2.lower()

True

In [52]:
reg_username = ['pw', 'pW', 'Pw']
new_user = "PW1"
if new_user in reg_username:
    print("already in use")
else:
    print("username is available")

username is available

In [53]:
#string ordering
name = ['rakesh','vedha','naveen']
sorted(name)

['naveen', 'rakesh', 'vedha']

In [54]:
#common string operations
input_str = "            logitech            "
input_str

'            logitech            '

In [56]:
input_str.strip() #removes whitespaces

'logitech'

In [58]:
#string splitting
data = 'lenovo, asus, acer'
data

'lenovo, asus, acer'

In [59]:
mnc_info = data.split(',')

In [60]:
mnc_info

['lenovo', ' asus', ' acer']

In [63]:
#escape sequences >> special combination of characters used within a string
address = """no.9, first cross,
sridharan nagar,
ariyankuppam,
puducherry"""
address

'no.9, first cross,\nsridharan nagar,\nariyankuppam,\npuducherry'

In [64]:
print(address)

no.9, first cross,
sridharan nagar,
ariyankuppam,
puducherry

In [65]:
address2 ="""9, sridharan nagar, \nfirst cross, \nariyankuppam"""
address2

'9, sridharan nagar, \nfirst cross, \nariyankuppam'

In [66]:
print(address2)

9, sridharan nagar,
first cross,
ariyankuppam

In [71]:
#\t escape character 
table = "Name\t\tAge\tGrade\nDarshan\t\t21\tB"
table

'Name\t\tAge\tGrade\nDarshan\t\t21\tB'

In [72]:
print(table)

Name		Age	Grade
Darshan		21	B

In [73]:
file_path = "C:\\Windows\\System32"

In [74]:
file_path

'C:\\Windows\\System32'

In [75]:
print(file_path)

C:\Windows\System32

In [77]:
#\' single quote escape
str1 = 'I can\'t attend the function'
print(str1)

I can't attend the function

In [2]:
#carriage return \r >> moves the cursor to the beginning of line
print("Hello, I am \rDarshan, I love bikes")

Darshan, I love bikes

In [3]:
#string formatting >> creating string with placeholder for variables
print("my name is oneplus")
print("my name is bbk")
print("my name is byd")

my name is oneplus
my name is bbk
my name is byd

In [4]:
name = "moto"
greetings = f"Hello {name}"
print(greetings)

Hello moto

In [6]:
#string formatting
name = "gshock"
greetins = "Hello %s",name
print(greetings)

Hello moto

In [8]:
#.format
template = "Hello {}, you have nice UI"
message = template.format("oneUI")
print(message)

Hello oneUI, you have nice UI

In [10]:
celcius = 30
f"{celcius} is equals to {(celcius * 9/5)+32}F"

'30 is equals to 86.0F'

In [11]:
str1 = "skhynix"
str1.startswith('sk')

True

In [12]:
str1 = "skhynix"
str1.endswith('sk')

False

In [13]:
str1 = "skhynix"
str1.isalnum()

True

In [ ]:
str1 = "skhynix"
str1.startswith('sk')