In [1]:
a = 5
a

5

In [2]:
type(a)

int

In [3]:
b = 5.4
type(b)

float

In [5]:
a = "darsh"
a
type(a)

str

In [6]:
2+3

5

In [7]:
"2" + 3

TypeError: can only concatenate str (not "int") to str

In [8]:
type("2")

str

In [9]:
#Type casting/type conversion >> the process of converting the datatype of a value/object
#why? bcoz while executing/computing using operators, there can be mismatch between the datatypes

In [10]:
a = "2"
b = 3
a+b

TypeError: can only concatenate str (not "int") to str

In [11]:
type(a)

str

In [12]:
a = "2"
b = 3
int(a)+b

5

In [14]:
a = "32"
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

In [15]:
a = 3.42
type(a)

float

In [16]:
int(a)

3

In [17]:
#integer to float
a = 32
type(a)

int

In [18]:
b = float(a)

In [19]:
b

32.0

In [20]:
type(b)

float

In [21]:
#string to float
a = "243.2"

In [22]:
type(a)

str

In [23]:
b = float(a)

In [24]:
b

243.2

In [25]:
type(b)

float

In [26]:
name = "logi"
int(name)
#

ValueError: invalid literal for int() with base 10: 'logi'

In [27]:
#integer to string
a = 23
type(a)

int

In [28]:
str(a)

'23'

In [29]:
type(a)

int

In [31]:
#implicit type casting >> python understands the datatype automatically
a = 5
type(a)

int

In [32]:
42+323.128

365.128

In [33]:
#boolean type casting
bool(0)

False

In [34]:
bool(1)

True

In [36]:
bool(-2)

True

In [ ]:
#any value which is 1 and above 1 and below 1 will give ouput as True
#only zero will give false