In [ ]:
# data structure >> way of organising and storing data so that
# it can be accessed and manipulated efficiently

In [1]:
# data structure >> string, list, set, tuples, dictionary, array

In [2]:
# list >> you can store anything in list 
#      >> can store heterogenous data
#      >> ordered, any data type
#      >> mutable(changeable)
num = [1,2,3,4,5]
num

[1, 2, 3, 4, 5]

In [3]:
type(num)

list

In [4]:
num[0]

1

In [5]:
num[1]

2

In [6]:
num[-1]

5

In [7]:
num[4]

5

In [8]:
num[5]

IndexError: list index out of range

In [9]:
a = [1,2,3,'headphone','sony','apple']

In [10]:
a

[1, 2, 3, 'headphone', 'sony', 'apple']

In [11]:
a.append('samsung')

In [12]:
a

[1, 2, 3, 'headphone', 'sony', 'apple', 'samsung']

In [13]:
a.append(3+8j)

In [14]:
a

[1, 2, 3, 'headphone', 'sony', 'apple', 'samsung', (3+8j)]

In [15]:
a.remove('apple')

In [16]:
a

[1, 2, 3, 'headphone', 'sony', 'samsung', (3+8j)]

In [17]:
lis = [[1,2,3],[4,5,6],[7,8,9]]

In [18]:
lis

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [19]:
type(lis)

list

In [20]:
lis[0]

[1, 2, 3]

In [21]:
lis[0][0]

1

In [22]:
lis[0][2]

3

In [23]:
#list is mutable
shopping_list = ['sugar', 'potato', 'brinjal']
shopping_list[0]

'sugar'

In [24]:
shopping_list[0] = 'wheat'

In [25]:
shopping_list

['wheat', 'potato', 'brinjal']

In [26]:
for item in shopping_list:
    print(item, end = " ")

wheat potato brinjal

In [27]:
#--------------------------------------------------------------

In [28]:
## Tuples () >> Immutable
point = (2,3)

In [29]:
point

(2, 3)

In [30]:
#use case of tuple >> aadhar card number should not be edited

In [31]:
tup = (1,2,3,True,6+3j,'Pouch')

In [32]:
tup

(1, 2, 3, True, (6+3j), 'Pouch')

In [33]:
emp_name = ('Ajay','Ajay1','Bijay','Sanjay')
type(emp_name)

tuple

In [34]:
emp_name[0]

'Ajay'

In [35]:
emp_name[2] = 'Rahul'

TypeError: 'tuple' object does not support item assignment

In [36]:
box1 = ('a','b')
box2 = ('c','d')
choc_bag = (box1,box2)

In [37]:
choc_bag

(('a', 'b'), ('c', 'd'))

In [38]:
for box in choc_bag:
    for choc in box:
        print(choc)

a
b
c
d

In [39]:
## Sets >> unordered collection of unique elements

In [40]:
s = {'red','orange','blue'}

In [44]:
s

{'blue', 'orange', 'red'}

In [42]:
type(s)

set

In [45]:
set2 = {'red','orange','red','blue','orange'}

In [46]:
set2

{'blue', 'orange', 'red'}

In [47]:
set2[0] #error >> no concept of indexing as sets are unordered and unique

TypeError: 'set' object is not subscriptable

In [48]:
s

{'blue', 'orange', 'red'}

In [49]:
s.add('white')

In [51]:
s #sets are mutable >> elements can be added and deleted

{'blue', 'orange', 'red', 'white'}

In [52]:
s.remove("blue")

In [53]:
s

{'orange', 'red', 'white'}

In [54]:
#use case of sets >> to get unique elements
grocery_list = {'apple','banana','banana','egg','egg'}
grocery_list

{'apple', 'banana', 'egg'}

In [57]:
## dictionaries >> which stores the data in the form of key-value pair
dict = {}

In [58]:
type(dict)

dict

In [59]:
dict = {"key-course":"data_science", "duration":200}

In [60]:
type(dict)

dict

In [61]:
dict

{'key-course': 'data_science', 'duration': 200}

In [62]:
#use-cases for dictionary
phonebook = {"Dad":1234,"Mom":3462}

In [63]:
type(phonebook)

dict

In [64]:
phonebook["Dad"]

1234

In [65]:
phonebook["Mom"]

3462

In [66]:
phonebook = {"Dad":1234,"Mom":3462,"Dad":6893}

In [67]:
phonebook

{'Dad': 6893, 'Mom': 3462}

In [68]:
phonebook["Mom"] = '30131'

In [69]:
phonebook

{'Dad': 6893, 'Mom': '30131'}

In [70]:
phonebook.keys()

dict_keys(['Dad', 'Mom'])

In [71]:
phonebook.values()

dict_values([6893, '30131'])

In [72]:
from array import array

In [73]:
#array is similar to list >> homogenous data
array('i',[1,24,321,2])

array('i', [1, 24, 321, 2])

In [74]:
#string >> immutable
s = "dardhd"
type(s)

str

In [76]:
for i in s:
    print(i)

d
a
r
d
h
d